#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  && input {
    height: 8vh;
    text-align: center;
    font-size: 1.5rem;
  }
}

.Loading-Bar {
  width: 100%;
  height: 20px;
  border: solid 1px black;
  border-radius: 100px;
  overflow: hidden;
  background-color: #f0f0f0;
  margin-top: 1rem;
}

.Loading-Bar-Progress {
  height: 100%;
  background-color: limegreen;
  transition: width 0.3s ease;
}
